.fof {
	margin-top: 100px;
	text-align: center;
}

.hgroup {
	text-transform: uppercase;
}

.fof .hgroup classH1{
	font-size: 80px;
	margin-bottom: 25px;
}

.fof .hgroup classH1 span {
	border: 1px solid #CCCCCC;
	display: inline-block;
	margin-left: 5px;
	overflow: hidden;
	padding: 2px;
}

.fof .hgroup classH1 span strong {
	border: 1px solid #CCCCCC;
	display: inline-block;
	font-weight: normal;
	padding: 0 20px 20px;
}

.fof .hgroup classH2 {
	font-size: 60px;
	font-weight: 400;
}

.fof .hgroup classH2 span {
	display: block;
	font-size: 30px;
}

.fof p {
	font-size: 16px;
	margin: 25px 0 0 0;
	padding: 0;
}

.fof p:first-child {
	margin-top: 0;
}


.row2 {
	background-color: #FFFFFF;
	color: #979797;
}
