:root {
    --cobalt-blue: #0047ab;
    --cobalt-blue-light: #0047abff;
}

body {
    color: #404040;
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.affix {
    position: sticky;
    top: 0;
    z-index: 9999 !important;
}

.navbar {
  border-top-style: solid;
    border-top-color: black;
    border-top-width: 3px;
    
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
    background-color: white;
    
    text-transform: uppercase;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    font-weight: 600;
    font-size: 16px;
}

 .navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }

/*div.heading>h1 {
    font-size: 22px;
    margin: 0;
    font-weight: 400;
    line-height: 20px;
    padding: 20px 2px;
}*/

/*a {
    color: #404040;
    text-decoration: none;
}

a:hover {
    color: #101010;
}*/

.headings{
    background-image: url(../media/Headline_path.png);
    background-repeat: no-repeat;
    background-color: #F1F1F1;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    font-weight: 300;
    font-style: italic;
    padding: 24px;
    padding-left: 48px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0px;
    padding-top: 80px; 
    margin-top: -80px;
}
.headings > h1{

    margin-left: 48px;
    /*font-size: 22px;*/
    font-weight:300;
    font-size: 36px;
    color: #000000;
    letter-spacing: 0;

}

#Laeden_Kategorien{
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: thin;
}
active, .show>.btn-secondary.dropdown-toggle {
    border-style: none!important;
    box-shadow: none !important;
}
.show>.btn-secondary.dropdown-toggle{
    border-style: none !important;
    box-shadow: none !important;
}
.btn-secondary.focus, .btn-secondary:focus{
    border-style: none !important;
    box-shadow: none !important;
}
#dropdownMenuButton
{
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    background-color: white;
    border-style: none;
    border-radius: 0;
}

.dropdown-menu{
    border-style: none;
    border-radius: 0
}
.dropdown-menu.show{
    background-color: var(--cobalt-blue);
    color: white;
}
#feature-filter > div > button{
    color:white;
}
#txtCategories{
    text-transform: capitalize;
}

.twocolumn {
    padding-right: 15px;
    padding-left: 15px;
    -webkit-column-count: 2;    /* Chrome, Safari, Opera */
    -moz-column-count: 2;       /* Firefox */
    column-count: 2;
    display: block;
}

.sidebar {
    width: 100%;
    float: left;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

#map {
    border-left: 1px solid #fff;
    width: 100%;
    float: right;
}

.pad2 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 567px;
}

.heading {
    background: #fff;
    border-bottom: 1px solid #eee;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
}

.listings {
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;
}

.sidebar>fieldset {
    background: #ddd;
    border: none;
    padding: 10px;
    margin: 0;
}

.listings .title {
    display: block;
    color: black;
    padding: 0;
    cursor: default;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 22px;
}


a.title.is-active, /*for the bootstrap accordion*/
.listings .card-header.is-active .title { /*for the action on marker click*/
    color: var(--cobalt-blue);
}

.card {
    border: none;
}

.card-header {
    padding: 0.25rem 0.25rem;
    background-color: white;
    border-bottom: 2px solid #000000;
    
}
.listings .card-header .title
{text-transform: capitalize;}
.listings .card-header .title:hover {
    color: var(--cobalt-blue);
    text-decoration:none;
}

.listings .card-header.is-active {
    background-color: #f8f8f8;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: var(--cobalt-blue);
    border-radius: 0;
}

.clearfix {
    display: block;
}

.clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/* Marker tweaks */

.mapboxgl-popup-content {
    padding: 0;
    width: 180px;
    border-radius: 0px !important;
    padding: 10px 10px 5px !important;
    text-align: center;
}
div.mapboxgl-popup-content > h3{
    font-family: 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    font-size: 19px;
    font-weight: 600;

}
div.mapboxgl-popup-content > h4{
    font-size: 14px;
    font-family: 'PT Serif', serif;
    font-style: italic;
    padding: 7px;
}

.mapboxgl-popup-content-wrapper {
    padding: 1%;
}

.mapboxgl-popup-content div {
    padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
    cursor: pointer;
}

.mapboxgl-popup-anchor-top-right,
.mapboxgl-popup-anchor-top-left,
.mapboxgl-popup-anchor-top .mapboxgl-popup-content {
    border-top-style: solid;
    border-top-color: var(--cobalt-blue);
    border-bottom-width: 9px;
}

.mapboxgl-popup-anchor-bottom-right,
.mapboxgl-popup-anchor-bottom-left,
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-content {
    border-bottom-style: solid;
    border-bottom-color: var(--cobalt-blue);
    border-bottom-width: 9px;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    border-bottom-color: var(--cobalt-blue) !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: var(--cobalt-blue) !important;
}

.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: var(--cobalt-blue) !important;
}

.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
    border-bottom-color: var(--cobalt-blue) !important;
}

.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
    border-top-color: var(--cobalt-blue) !important;
}

.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: var(--cobalt-blue) !important;
}

.marker {
    border: none;
    cursor: pointer;
    height: 56px;
    width: 56px;
    background-image: url(marker.png);
    background-color: rgba(0, 0, 0, 0);
}

.mapboxgl-popup {
    padding-bottom: 50px;
}