schrott/example.html
schrott/gymnasien.geo.json
schrott/oberschule.geojson
schrott/stores.json
webfont-maki/README.md
schrott/exampleSimplest.html
json-to-mysql-master/JSONtoMYSQL/class.ExistingMYSQLTable.php
webfont-maki/LICENSE
/.vscode/launch.json
node_modules
mymb
/.php_cs.cache
/.env.example
/.jshintrc
